[user]
    name = Yann Thomas-Gérard
    email = inside@gmail.com
[color]
    diff = auto
    status = auto
    branch = auto
[core]
    pager = less
[alias]
    a = add
    d = diff
    dc = diff --cached
    e = edit
    g = grep
    ; Push the branch you are on to the remote
    p = push origin HEAD
    pn = push origin HEAD --no-verify
    pfw = push origin HEAD --force-with-lease
    pnfw = push origin HEAD --force-with-lease --no-verify
    l = log
    lp = log -p
    lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ar)%Creset'
    lpe = log -p  -- . ":(exclude)package-lock.json"
    s = status --short
    st = status
    br = branch
    co = checkout
    ci = commit
    ca = commit -a
    caa = commit -a --amend
    ru = remote update
    prom = pull --rebase origin master
    c = clone

    ; Checkout branch name from master
    cob = "!f() {\
        if [ -z \"$1\" ];\
        then\
            echo \"Usage: git cob branch_name\";\
            return;\
        fi;\
        git checkout -b "$1" origin/master;\
    }; f"

    ; Fetch git objects and reset hard to master
    rhard = "!git fetch origin && git reset --hard origin/master"

    ; Edit modified file
    edit = "!vim `git diff --name-only`"
    staged = "!vim `git diff --name-only --cached`"
    all = "!vim `git diff --name-only HEAD`"

    flog = log --name-status
    jls = jira list
    f = fetch --prune
    pr = pull-request
    reuse = commit -eF .git/COMMIT_EDITMSG
    cz = !./node_modules/.bin/git-cz
    cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
[rerere]
    enabled = true
[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less
[hub]
	host = github.schibsted.io
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[gitreview]
    remote = origin
[alias]
    review = !git-review
[url "git@github.schibsted.io:"]
	insteadOf = sch:
[push]
	default = simple
