[user]
    name = Yann Thomas-Gérard
    email = inside@gmail.com
[color]
    diff = auto
    status = auto
    branch = auto
[core]
    pager = less
[alias]
    a = add
    d = diff
    e = edit
    g = grep
    l = log
    s = status
    ru = remote update
    co = checkout
    flog = log --name-status
    ci = commit
    br = branch -v
[rerere]
    enabled = true
