snippet if
if ($1) {
  ${2:${VISUAL}}
}$0
endsnippet

snippet else
else {
  ${1:${VISUAL}}
}$0
endsnippet

snippet cl "console.log(...)"
console.log('${2:$1: }', ${1})
endsnippet

snippet cll
console.log($1)
endsnippet
