snippet if
if ($1)
{
	${2:${VISUAL}}
}$0
endsnippet

snippet elif
else if ($1)
{
	${2:${VISUAL}}
}$0
endsnippet

snippet else
else
{
	${1:${VISUAL}}
}$0
endsnippet

snippet clr
error_log(print_r(${1:${VISUAL}}, true));
endsnippet

snippet cl
error_log(${1:${VISUAL}});
endsnippet

snippet cr
print_r(${1:${VISUAL}});
endsnippet

snippet cv
var_dump(${1:${VISUAL}});
endsnippet

snippet this
$this->$0
endsnippet
